body {
  background-color: black;
  color: white;
  text-align: center;
}
h1 {
  display: block;
  font-family: 'Amatic SC';
  color: white;
  font-size: 70px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 20px;
}

a {
  display: inline-block;
  font-family: 'Bungee Hairline';
  color: black;
  font-size: 10px;
  text-decoration: none;
}
a:hover {
  color: turquoise;
  font-size: 14px;
}
a:active {
  color:
}
nav {
  display: inline-block;
  margin: auto;
  width: 600px;
  background-color: black;
  font-family: 'Bungee Hairline';
  vertical-align: middle;
}
button {
  background-color: black;
  color: white;
  border: none;
  margin: 5px;
  font-family: 'Bungee Hairline';
  font-size: 20px;
  display: inline-block;
  width: 100px;
  height: 40px;
}
button:hover {
  font-size: 20px;
  background-color: #fffe8b;
  border: 5px solid;
  border-radius: 20px;
  color: black;
  text-decoration: underline dotted;
  display: inline-block;
  width: 150px;
  height: 40px;
}
#mycounter {
  display: inline-block;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #fffe8b;
  font-size: 15px;
}
.ghost-tracker {
  font-family: 'Gloria Hallelujah';
  text-align: center;
  display: inline-block;
  margin-left: 15px;
  background-color: #ffdd09;
  color: black;
  padding: 10px;
  height: 15px;
  border: 5px;
  border-radius: 30px;
}
.board {
	display: inline-block;
	padding: 0px;
  margin: auto;
  height: 500px;
  width: 500px;
  vertical-align: bottom;
  bottom: 0;
}
.container {
  border: 2px solid darkgrey;
  padding: 30px;
  text-align: center;
  height: 400px;
  width: 400px;
  margin: auto;
  vertical-align: bottom;
  position: relative;
}
.row {
	margin: 0px;
  padding: auto;
  height: 70px;
  vertical-align: bottom;
  display: block;
}
.box {
  border: 1px solid lightgrey;
	height: 50px;
  width: 50px;
  padding: 10px;
	display: inline-block;
	margin: -2px;
	vertical-align: baseline;
  overflow: auto;
  position: relative;
  bottom: 0;
}
.boxPlayer {
  text-align: center;
  border: 1px solid lightgrey;
	height: 50px;
  width: 50px;
  padding: 10px;
	display: inline-block;
	margin: -2px;
	vertical-align: baseline;
  bottom: 0;
  position: relative;
  overflow: auto;
}
img {
  position: absolute;
  bottom:0;
  left: 5px;
  vertical-align: middle;
}
.hidden {
  display: none;
}
p {
  display: inline-block;
  padding-right: 5px;
  color: #ffdd09;
}
footer {
  clear: both;
  font-family: 'Bungee Hairline';
  color: lightyellow;
  font-size: 10px;
  padding: 10px;
  margin-top: 20px;
}
#footerlink {
  color: white;
  font-size: 10px;
}
#footerlink:hover {
  color: #CC1114;
}
